@media (max-width: 1050px) {
  .row {
    height: 1500px !important;
  }
  .photo-item {
    width: 100% !important;
  }
  .photo-item > img {
    max-width: 100% !important;
    width: 100% !important;
  }

  #hero-text .logo > img {
    height: 100px !important;
  }

 .logo-landing {
    width:40px  !important;
    padding-top: 3%;
    }

  header #hero-text {
    height: 120vh;
  }

  header #hero-text h1 {
    font-size: 40px;
  }
  header #hero-text p {
    font-size: 20px;
  }
  header #hero-text .hero-small {
    font-size: 12px;
  }
  header #hero-text .hero-medium {
    font-size: 18px;
  }
  #content .info {
    background: white;
    padding: 70px 0 70px 0;
  }
  #content .info > p:first-child {
    font-size: 20px;
  }
  #content .info > p:nth-child(2) {
    font-size: 14px;
    padding: 0px 10px;
  }
  #content .button {
    max-width: 100px;
    margin: 30px auto;
    padding: 10px 25px;
    font-size: 14px;
  }
  #events {
    height: 90vh;
  }

  .split > h1 {
    font-size: 14px;
    padding: 10px 15px;
  }
  .btn-readMore {
    font-size: 14px;
    margin: 20px auto;
    padding: 5px 10px;
  }
  .btn-register {
    font-size: 14px;
    margin: 20px auto;
    padding: 5px 10px;
  }
  #advisoryCommittee {
    padding: 100px 0px;
  }
  .section-title {
    font-size: 20px;
  }
  .section-title::before {
    width: 150px;
  }
  .card-container {
    padding: 0px;
  }

  .front {
    font-size: 10px;
    padding: 10px 20px;
    margin: 5px;
  }

  /* TEAM CARDS */
  .card{
    width: 250px;
    height: 300px;
  }
  .card h2,.card h2>small{
    font-size: 20px !important;
  }
  .card cite{
    font-size: 13px;
    padding: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
  }
}

@media screen and (max-width: 1050px) {
  /* navlinks restyling and drawer style */
  .nav-links {
    position: absolute;
    left: 0px;
    height: 100vh;
    top: 0vh;
    background-color: white;
    opacity: 0.95;
    box-shadow: 0px 0px 25px 3px black;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 0px;
    transform: translateX(-106%);
  }
  .nav-links li {
    padding: 10px;
    margin-left: 1.2rem;
    opacity: 1;
  }
  .nav-links a {
    font-size: 0.9rem;
    font-weight: bolder;
    color: black;
  }
  .bars {
    display: block;
    cursor: pointer;
    margin-right: 40px !important;
  }
  .cross {
    display: block;
    position: fixed;
    right: 0;
  }
  .links {
    margin-top: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-active {
    transition: transform 0.5s ease-in;
    transform: translateX(0%);
  }

  .nav-smooth {
    transform: translateX(-106%);
  }

  #speciawar,#ctf{
    background-color: #f2ebd8;
    padding: 5% 2%;
    text-align: center;
  }
  
  #vividly,#infomaze{
    padding: 5% 5%;
    text-align: center;
  }

  #speciawar p:not(.section-title), #ctf p:not(.section-title),#vividly p:not(.section-title), #infomaze p:not(.section-title){
    font-size: 12px;
  }

  #prizes{
    padding: 5% 2%;
  }
  .the-box{
    height: 150px;
    width: 150px;
    margin: 10px;
  }
  .prize-amount{
    font-size: 20px;
  }
  .prize-position{
    font-size: 14px;
  }
}


/* footer */
@media screen and (max-width: 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:min-content;
  }

  .container-two {
    width: 100%;
    padding: 1.5rem;
  }

  .container-one {
    width: 100%;
  }
  .container-three {
    width: 100%;
  }
  .modal-window > div {
    width: 200px;
  }
}




