@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif !important;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(223, 39, 39, 0.7);
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 70%;
  --other-width: 30%;
  --speed: 500ms;
}

/* work from here  */


/* Preloader CSS */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/comfortaa/v30/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfJQ.ttf) format('truetype');
}
svg.preloader {
  display: block;
  width: 170px;
  height: 80px;
}
circle.dot {
  fill: #e74c3c;
}
circle.dot:nth-of-type(1) {
  -webkit-animation: slide 2s ease infinite;
          animation: slide 2s ease infinite;
}
circle.dot:nth-of-type(2) {
  fill: #f1c40f;
  transform: translateX(55px);
  -webkit-animation: slide 2s ease infinite;
          animation: slide 2s ease infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes slide {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(70px);
  }
}
@keyframes slide {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(70px);
  }
}
#preloader {
  background-color: #0E1434;
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #ff4157;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-orient: horizontal;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.container {
  align-self: center;
}
.loadingText {
  font-family: 'Comfortaa';
  color: #ff4157;
  font-size: 80px;
}


header {
  width: auto;
  height: 110vh;
  position: relative;
  /* background: coral; */
  z-index: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  position: fixed;
  flex-shrink: 1;
  top: 0;
  z-index: 900;
  width: 100%;
  background-color: #0c0c34;
}
.logo {
  color: white;
  letter-spacing: 3px;
  margin: 0px 40px;
}

.year {
  color: coral;
}

/* links that are placed on the navigation bar */
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  margin: 0px 40px;
}

/* navlink styling */
.nav-links a {
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  /* font-size: 0.7rem; */
}

.nav-links a:hover {
  color: #ff4157;
}
.nav-links li {
  list-style: none;
}

/* toggle button for drawer */

.bars {
  display: none;
}

.bars div {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 25px;
  margin: 5px;
}
/* close button */
.cross {
  display: none;
}

/* pushing down link */
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header nav .logo {
  height: 100%;

  display: inline-block;
  padding: 20px 0px;
}

header nav .logo img {
  height: 50px;
}

/* work from here  */

header #hero-text {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: -150px; */
}

header .logo-landing {
  padding-top: 10%;
}
header #hero-text h1 {
  font-size: 7em;
  font-weight: 900;
  color: #ce1122;
}

header #hero-text p {
  font-size: 2.7em;
  font-weight: 900;
}
header #hero-text .hero-small {
  font-size: 1.2em;
  font-weight: 600;
}

header #hero-text h1,
header #hero-text p {
  margin: 0;
  text-align: center;
  overflow: hidden;
}

header #scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  margin: auto;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  cursor: pointer;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-animation: bounce 1.2s infinite ease;
  animation: bounce 1.2s infinite ease;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotateZ(45deg);
    transform: translate(0, 0) rotateZ(45deg);
  }
  50% {
    -webkit-transform: translate(0, -15px) rotateZ(45deg);
    transform: translate(0, -15px) rotateZ(45deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotateZ(45deg);
    transform: translate(0, 0) rotateZ(45deg);
  }
  50% {
    -webkit-transform: translate(0, -15px) rotateZ(45deg);
    transform: translate(0, -15px) rotateZ(45deg);
  }
}

#content {
  margin: 0px;
  text-align: center;
}

#content .info {
  background: white;
  padding: 100px 0 100px 0;
}

#content .info > p:first-child {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

#content .info > p:first-child:before {
  width: 250px;
  height: 2px;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
  background: #ff4157;
}

#content .info > p:nth-child(2) {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  padding: 0 100px;
}

.btn-readMore {
  position: relative;
  background-color: transparent;
  color: #ff4157;
  border: 2px solid #ff4157;
  padding: 20px 30px;
  margin: 75px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 100;
}

.btn-readMore:hover {
  color: white;
  background-color: #ff4157;
  transition: 0.3s;
}

.btn-register {
  position: relative;
  color: white;
  background-color: #ff4157;
  border: 2px solid #ff4157;
  padding: 20px 30px;
  margin: 75px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 100;
}

.btn-register:hover {
  background-color: transparent;
  color: #ff4157;
  transition: 0.3s;
}

.button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: #ff4157;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.button:hover:before {
  width: 100%;
}
/* Event Section CSS */

#events {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.split > h1 {
  color: #000;
  padding: 20px 30px;
  font-size: 65px;
  background-color: #fff;
}
.split > .btn-readMore {
  margin-top: 20px;
  font-size: 30px;
  padding: 10px 20px;
  color: #ff4157;
  background-color: transparent;
  border: 2px solid #ff4157;
  cursor: pointer;
}
.split > .btn-readMore:hover {
  background-color: #ff4157;
  color: white;
  transition: 0.2s;
}

.split.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://image.ibb.co/m3ZbRb/programmer.png") center center no-repeat;
  background-size: cover;
}

.split.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1593305841991-05c297ba4575?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1906&q=80")
      center center no-repeat;
  background-size: cover;
}

.split.left,
.split.right,
.split.right:before,
.split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}
/* Event CSS ends here */

/* Advisory Committee */



#advisoryCommittee {
  padding: 5% 50px;
  text-align: center;

}

#schedule {
  text-align: center;
  padding: 5% 10%;
  background: url(/images/W1.jpg);
}

.section-title {
  font-size: 40px;
  position: relative;
}
.section-title::before {
  width: 300px;
  height: 2px;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
  background: #ff4157;
}
.card-container {
  padding: 2% auto;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  position: static;
  cursor: pointer;
}
.box:hover li {
  opacity: 1;
}
.front {
  top: 0;
  left: 0;
  padding: 25px 50px;
  transform: rotate(0);
  transition: 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: 20px;
}
.front:hover {
  z-index: 99;
  border: none;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
}
/* ADVISORY COMMITTEE ENDS HERE */

/* Im Working here */

/* Our team */
#ourTeam {
  padding: 5% 50px;
  text-align: center;
  background-color: #000;
  color: white;
}
.team-container {
  margin: 5% auto;
}
.card {
  text-align: left;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: Arial, Sans-Serif;
  width: 400px;
  height: 600px;
  color: white;
  display: inline-block;
  margin: 10px;
}
.card.flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.card .face {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0.1px);
}
.card .face {
  border-radius: 10px;
}
.card .front {
  color: #000;
  background-color: #101010;
}

.card h2 {
  text-transform: uppercase;
  font-size: 30px !important;
  position: absolute;
  background-color: white;
  bottom: 60px;
  left: 0;
  margin: 0;
  line-height: 1em !important;
  padding: 10px;
}
.card h2 small {
  font-size: 30px;
}
.card cite {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 15px;
  background-color: #4dc247;
  text-transform: uppercase;
  padding: 20px;
}
.card cite a {
  color: white;
}
.card cite a:visited {
  text-decoration: none;
  color: white;
}
.darth .front {
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: background 0.3s;
}
.darth .front:hover {
  background-size: 200%;
  background-position: 50% 50%;
  transition: background 0.5s;
}

.mememe {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.mememe a {
  color: #eeff44;
}
.mememe a:visited {
  color: #eeff44;
}

/*Events Innovazia*/
#speciawar,
#ctf {
  padding: 5% 10%;
  text-align: center;
}
#infomaze {
  background: url(/images/infomaze1.png);
  background-size: 100% 100%;
}
#ctf {
  background: url(/images/ctf.png);
  background-size: 100% 100%;
}
#vividly {
  background: url(/images/vividly.png);
  background-size: 100% 100%;
}
#speciawar {
  background: url(/images/speciawar.png);
  background-size: 100% 100%;
}

#speciawar p:not(.section-title),
#ctf p:not(.section-title),
#vividly p:not(.section-title),
#infomaze p:not(.section-title) {
  font-size: 25px;
  color: white;
}

#vividly,
#infomaze {
  padding: 5% 10%;
  text-align: center;
}

#prizes {
  background-color: black;
  color: #fff;
  padding: 5% 10%;
  text-align: center;
}

.the-box {
  border: 3px solid #ff4157;
  width: 250px;
  height: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prize-amount {
  font-size: 40px;
  color: #ff4157;
}
.prize-position {
  font-size: 25px;
}

.prize-container {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Prizing Section */

/* Time Line CSS*/
#timelineHead {
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #4298c3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: white;
  font-family: "Lato", sans-serif;
  margin: 5px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 10px;
  list-style: none;
  text-align: left;
  font-weight: 1;
  max-width: 50%;
  height: fit-content;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed #4298c3;
  padding-bottom: 25px;
  margin-bottom: 15px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -30%;
  background-color: #4298c3;
  color: white;
  content: attr(data-date);
  text-align: right;
  font-weight: 400;
  font-size: 0.9em;
  min-width: 80px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #169eda;
  left: -57.85px;
  background: #c8102e;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
@media (max-width: 760px) {
  .timeline .event:before {
    left: -0.5px;
    top: 28px;
    background-color: #4298c3;
    color: white;
    margin-top: 8px;
    padding: 2px 8px 2px 8px;
    content: attr(data-date);
    text-align: justify;
    font-weight: 400;
    font-size: 0.9em;
    min-width: 60px;
  }
  .timeline .event p {
    top: 27px;
    padding: 10px 0px 10px 0px;
    position: relative;
  }
}

/* Modal CSS */

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: rgb(0, 0, 0);
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  color: white;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: whitesmoke;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

/*  Footer  */
footer {
  width: 100%;
  background-color: black;
}
/* first section whih three flex  */

.section1 {
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* container heading styles */
.container-one,
.container-two,
.container-three h3 {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  color: #818186ea;
  letter-spacing: 3px;
  font-size: 0.9rem;
  text-align: left;
}

/* flex container style */
.container-one,
.container-two,
.container-three {
  padding: 1rem;
  flex: 1;
}

/* flex container one styling */

.container-one p {
  color: white;
  margin-top: 1rem;
  text-align: left;
  font-weight: bolder;
  line-height: 1.5rem;
}

/* second flex container style */

.container-two ul {
  margin: 2rem 0rem;
}

.container-two li {
  padding: 0.5rem 0rem;
  list-style: none;
}

.container-two a {
  text-decoration: none;
  color: white;
  font-size: 1.2 rem;
  font-weight: bolder;
  cursor: pointer;
}

/* third flex container style */
.container-three ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  width: 35%;
}
.container-three li {
  list-style: none;
  margin-right: 2rem;
}

.container-three a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.container-three p {
  margin-top: 2rem;
}

.icon-img {
  height: 26px;
  width: 26px;
}

.icon-img :hover {
  transition: 300ms ease-in;
  transform: scale(1.2);
}

.bkt {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: black;
  border-radius: 25px;
  color: white;
  padding: 5px 15px;
}

.topper {
  margin-top: 1rem;
  padding: 3px 5px;
}

.arrow {
  margin-bottom: -2.5px;
  margin-left: 3px;
}

.bkt:hover {
  transition: 300ms ease-in;
  color: coral;
}

.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}
.more-pens {
  position: fixed;
  /* left: 20px; */
  color: white;
  z-index: 10;
  /* font-family: "Montserrat"; */
  /* font-size: 12px; */
}

.spacer {
  width: 100%;
  height: 10vh;
}



.title-two {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
  background-size: 100% 100%;
}



