@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Special+Elite&display=swap");
$year: #d82339;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* style for navigation section starts here  */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #343a40;
}

/* techathalon on the navbar */

.logo {
  color: white;
  letter-spacing: 3px;
  font-size: 1.2rem;
  h2 {
    color: white;
  }
}

.year {
  color: $year;
  font-family: "Special Elite", cursive;
  font-size: 2.2rem;
  font-family: "Fira Sans", sans-serif;
}

/* links that are placed on the navigation bar */
.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

/* navlink styling */
.navLinks a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.9rem;
}
.navLinks li {
  list-style: none;
}

/* toggle button for drawer */

.bars {
  display: none;
}

/* close button */
.cross {
  display: none;
}

/* pushing down link */
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Stylish {
  text-decoration: none;
}

/* for mobile view of site  */

/* first breakpoint */

// @media screen and (max-width: 1024px) {
//   .navLinks {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     width: 75%;
//   }
// }

/* second breakpoint */

@media screen and (max-width: 1124px) {
  /* navlinks restyling and drawer style */
  .navLinks {
    position: absolute;
    left: 0px;
    height: 100vh;
    top: 0vh;
    background-color: white;
    opacity: 0.95;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(-100%);
  }

  .bars {
    display: block;
    cursor: pointer;
  }

  .links {
    margin-top: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* --------------------- navigation Css ends here ------------------------- */
