.body {
  background-color: #f7f9ff;
  display: flex !important;
  margin: 3rem auto !important;
  justify-content: center !important;
}
.body p {
  font-weight: 600;
}

.header{
  height: 13rem;
  margin-bottom: 2rem;
  background-color: #364D79;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

.headerText{
  color: white;
  text-align: center;
  flex: 2;
  font-size: 1.5rem;
}

.headerImage{
  flex: 1;
  background: linear-gradient(#364D79, #14213a);
  height: 100%;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.formBox {
  width: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #a8a8a829;
  border-radius: 7px;
  opacity: 1;
  padding: 1.5rem;
  justify-content: center !important;
}

.fieldsBox{
  width: 85%;
  margin: 0 auto;

  
}
.formField {
  height: auto;
  opacity: 1;
  width: 100%;
  transform: none !important;
  margin: 2rem 0;
}

.title {
  height: 11px;
  text-align: left;
  font-size: 16px!important;
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0px;
  margin: 0  0 15px 3px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.inputField {
  min-height: 40px;
  opacity: 1;
  width: 100%;
  padding: 2px 1rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid #a7bbc7;

}
.nestedInput{
  display: flex;
  justify-content: space-between;
}
.in{
  width: 49%;
}

.Button {
  height: 40px !important;
  background: #2f61f5 0% 0% no-repeat padding-box !important;
  border-radius: 4px !important;
  opacity: 1;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 40%;
  padding: 2px 12px;
  color: white !important;
  text-align: center;
}


@media screen and(max-width:1200px) {

.headerImage{
  height: 100%;
  width: 60%;
}
}
@media screen and(max-width:950px) {

  .formBox {
    width: 70%;
  }

  .headerImage{
    height: 100%;
    width: 50%;
  }
  .headerText{
    padding: 1rem;
  }
}
  

@media screen and(max-width:650px) {

    .formBox {
      width: 80%;
    }
   
  
    .headerImage{
      height: 100%;
      width: 50%;
    }
}

@media screen and(max-width:550px) {
      .formBox {
        width: 70%;
      }
    
      .headerImage{
        display: none;
      }
      .header{
        height: 9rem;
      }

      .nestedInput{
        display: block;
      }
      .in{
        width: 100%;
        margin: 5px 0;
      }
}
@media screen and(max-width:450px) {

  .header{
    height: 9rem;
    padding: 1rem;
    
  }
  .formBox {
    width: 85%;
  }
  .fieldsBox{
    width: 90%;
  }
}